@charset "UTF-8";
/*null*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/* ---general------------------------------------------------------- */

body{
  height: 100%;
  font-family: 'Yeon Sung', cursive;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.__container {
  max-width: 1480px;
  margin: 0 auto;
}

/* ---header------------------------------------------------------- */

.header {
  width: 100%;
  border-bottom: 2px solid rgb(0, 0, 0);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}

.header__left {
  display: flex;
}

.header__logo{
  width: 110px;
}

.header__right {
  display: flex;
}

.header__list {
  display: flex;
  align-items: center;
  margin: 3px 30px 0 0;
}

.header__item {
  margin: 0 10px 0 0;
}

.header__item:last-child{
  margin: 0;
}

.header__link {
  font-size: 25px;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}

.header__theme {
}

.header__switch{
  height: 35px;
}

@media(max-width: 769px){
  .header__logo{
    width: 100px;
  }

  .header__link{
    font-size: 20px;
  }

  .header__switch{
    height: 30px;
  }
}

/* ---main------------------------------------------------------- */

.main {
}
.main__container {
}
.block1 {
}
.block1__container {
}
.block1__text1 {
}
.block1__title {
}
.title {
}
.block1__body {
}
.block1__left {
}
.block1__img {
}
.block1__right {
}
.block1__text2 {
}
.block1__paragraph {
}
.block2 {
}
.block2__container {
}
.block2__text {
}
.block2__title {
}
.block2__body {
}
.block2__card1 {
}
.card1 {
}
.card {
}
.card1__photo {
}
.card1__name {
}
.name {
}
.block2__card2 {
}
.card2 {
}
.card2__photo {
}
.card2__name {
}
.block2__card3 {
}
.card3 {
}
.card3__photo {
}
.card3__name {
}
.block2__card4 {
}
.card4 {
}
.card4__photo {
}
.card4__name {
}
.block2__card5 {
}
.card5 {
}
.card5__photo {
}
.card5__name {
}
.block2__card6 {
}
.card6 {
}
.card6__photo {
}
.card6__name {
}
.block2__card7 {
}
.card7 {
}
.card7__photo {
}
.card7__name {
}
.block3 {
}
.block3__container {
}
.block3__text {
}
.block3__title {
}
.block3__video {
}
.block3__opening {
}
.footer {
}
.footer__container {
}
.footer__text {
}