@charset "UTF-8";
/*null*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/* ---general------------------------------------------------------- */

body{
  height: 100%;
  font-family: 'Yeon Sung', cursive;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.__container {
  max-width: 1480px;
  margin: 0 auto;
}

/* ---background------------------------------------------------------- */

.background {
  width: 100%;
  height: 100vh;
  background-image: url(../img/pattern.png);
  background-size: 50px;
  object-fit: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  opacity: 40%;
  z-index: -77;
}

/* ---scrollbar------------------------------------------------------- */

::-webkit-scrollbar{
  width: 17px;
}

::-webkit-scrollbar-track{
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(0, 0, 0);
  border-top: 0px;
  border-bottom: 0px;
}

::-webkit-scrollbar-thumb{
  background-color: rgba(255, 144, 220, 0.5);
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
}

/* ---header------------------------------------------------------- */

.header {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.90);
  width: 100%;
  border-bottom: 2px solid rgb(0, 0, 0);
  z-index: 77;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}

.header__left {
  display: flex;
}

.header__logo{
  width: 110px;
}

.header__right {
  display: flex;
}

.header__list {
  display: flex;
  align-items: center;
  margin: 3px 30px 0 0;
}

.header__item {
  margin: 0 30px 0 0;
  position: relative;
  padding: 5px 7px;
}

.header__item:last-child{
  margin: 0;
}

.header__link {
  font-size: 25px;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  text-shadow: 0 0 5px rgba(255, 144, 220, 0.7);
}

.header__link:before, .header__link:after{
  content: '';
  position: absolute;
  transition: transform .5s ease;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-style: solid;
  border-color: rgb(255, 144, 220);
  border-radius: 5px;
}

.header__link:before{
  border-width: 2px 0 2px 0;
  transform:  scaleX(0);
}

.header__link:after{
  border-width: 0 2px 0 2px;
  transform:  scaleY(0);
}

.header__link:hover:before, .header__link:hover:after{
  transform:  scale(1, 1);
}

.header__theme {
  transition-duration: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__theme:hover{
  cursor: pointer;
  transform: scale(1.07);
  transition-duration: 0.3s;
}

.header__switch{
  height: 35px;
}

.header__burger{
  display: none;
  cursor: pointer;
}

.burger__bar{
  display: block;
  transition: all 0.3s;
  background-color: rgb(0, 0, 0);
  position: relative;
}

.burger__bar{
  width: 30px;
  height: 4px;
  border-radius: 5px;
  margin: 7px auto;
}

@keyframes burg-b-el1-a {
  0% {
    top: 0;
    transform: rotate(0);
  }
  50% {
    top: 11px;
    transform: rotate(0);
  }
  100% {
    top: 11px;
    transform: rotate(45deg);
  }
}

@keyframes burg-b-el1-na {
  0% {
    top: 10px;
    transform: rotate(45deg);
  }
  50% {
    top: 10px;
    transform: rotate(0deg);
  }
  100% {
    top: 0;
    transform: rotate(0deg);
  }
}

@keyframes burg-b-el2-a {
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes burg-b-el2-na {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes burg-b-el3-a {
  0% {
    bottom: 0;
    transform: rotate(0);
  }
  50% {
    bottom: 11px;
    transform: rotate(0);
  }
  100% {
    bottom: 11px;
    transform: rotate(135deg);
  }
}

@keyframes burg-b-el3-na {
  0% {
    bottom: 11px;
    transform: rotate(135deg);
  }
  50% {
    bottom: 11px;
    transform: rotate(0);
  }
  100% {
    bottom: 0;
    transform: rotate(0);
  }
}

.burger__bar.bb-active:nth-child(1) {
  animation: ease 0.7s burg-b-el1-a forwards;
}

.burger__bar.bb-not-active:nth-child(1) {
  animation: ease 0.7s burg-b-el1-na forwards;
}

.burger__bar.bb-active:nth-child(2) {
  animation: ease 0.7s burg-b-el2-a forwards;
}

.burger__bar.bb-not-active:nth-child(2) {
  animation: ease 0.7s burg-b-el2-na forwards;
}

.burger__bar.bb-active:nth-child(3) {
  animation: ease 0.7s burg-b-el3-a forwards;
}

.burger__bar.bb-not-active:nth-child(3) {
  animation: ease 0.7s burg-b-el3-na forwards;
}

@media(max-width: 769px){
  .header__list{
    position: fixed;
    left: 0;
    top: -50%;
    opacity: 0%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.90);
    border-top: 2px solid rgb(0, 0, 0);
    border-bottom: 2px solid rgb(0, 0, 0);
    width: 100%;
    min-height: 40vh;
    padding: 10px;
    transition: 0.5s ease-out;
  }
  .header__list.hl-active{
    top: 58px;
    opacity: 100%;
  }
  .header__item{
    margin: 0 0 30px 0;
  }
  .header__theme {
    margin: 0 20px 0 0;
  }
  .header__logo{
    width: 90px;
  }
  .header__switch{
    height: 30px;
  }
  .header__burger{
    display: block;
  }
}

@media(max-width: 426px) {
  .header__link {
    font-size: 20px;
  }
}

/* ---main------------------------------------------------------- */

.main {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
}

.main__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* ---block1------------------------------------------------------- */

.block1 {
  display: flex;
  align-items: center;
  height: 100vh;
  /* border: 1px solid red; */
}

.block1__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  width: 80%;
  /* border: 1px solid rgb(34, 255, 0); */
  position: relative;
}

@keyframes b1-cont-hor-anim {
  0%{
    width: 10px;
  }
  50%{
    width: 30%;
  }
  100%{
    width: 10px;
  }
}

.block1__container:before{
  content: '';
  position: absolute;
  height: 10px;
  background-color: rgb(222, 47, 104);
  top: 0;
  left: 0;
  border-radius: 4px;
  animation-name: b1-cont-hor-anim;
  animation-iteration-count: infinite;
  animation-duration: 7s;
  opacity: 30%;
}

.block1__container:after{
  content: '';
  position: absolute;
  height: 10px;
  background-color: rgb(222, 47, 104);
  top: 100%;
  left: 100.8%;
  transform: rotate(180deg);
  transform-origin: left;
  border-radius: 4px;
  animation-name: b1-cont-hor-anim;
  animation-iteration-count: infinite;
  animation-duration: 7s;
  opacity: 30%;
}

@keyframes b1-cont2-ver-anim {
  0%{
    height: 10px;
  }
  50%{
    height: 50%;
  }
  100%{
    height: 10px;
  }
}

.block1__container2{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  /* border: 1px solid rgb(51, 0, 255); */
  position: relative;
  padding: 40px 35px;
}

.block1__container2:before{
  content: '';
  position: absolute;
  width: 10px;
  background-color: rgb(222, 47, 104);
  top: 0;
  left: 0;
  border-radius: 4px;
  animation-name: b1-cont2-ver-anim;
  animation-iteration-count: infinite;
  animation-duration: 7s;
  opacity: 30%;
}

.block1__container2:after{
  content: '';
  position: absolute;
  width: 10px;
  background-color: rgb(222, 47, 104);
  /* top: 102.5%; */
  top: 102%;
  left: 100%;
  transform: rotate(180deg);
  transform-origin: top;
  border-radius: 4px;
  animation-name: b1-cont2-ver-anim;
  animation-iteration-count: infinite;
  animation-duration: 7s;
  opacity: 30%;
}

.block1__text1 {
}

.text{
  position: relative;
  margin: 0 0 30px 0;
}

.block1__title {
}

.title {
  font-size: 35px;
  text-transform: uppercase;
  padding: 10px;
  text-shadow: 0 0 5px rgba(255, 144, 220, 0.9);
}

@keyframes title-bef-anim {
  0%{
    transform: scaleX(0);
  }
  50%{
    transform: scale(1,1);
  }
  100%{
    transform: scaleX(0);
  }
}

@keyframes title-aft-anim {
  0%{
    transform: scaleY(0);
  }
  50%{
    transform: scale(1,1);
  }
  100%{
    transform: scaleY(0);
  }
}

.title:before, .title:after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-style: solid;
  border-color: rgba(255, 144, 220, 0.5);
  border-radius: 5px;
}

.title:before{
  border-width: 4px 0 4px 0;
  animation-name: title-bef-anim;
  animation-iteration-count: infinite;
  animation-duration: 5s;
}

.title:after{
  border-width: 0 4px 0 4px;
  animation-name: title-aft-anim;
  animation-iteration-count: infinite;
  animation-duration: 5s;
}

.block1__body {
  display: flex;
  align-items: center;
  gap: 40px;
  justify-content: space-between;
}

.block1__left {
  width: 400px;
  /* max-height: 240px; */
  margin: 10px;
  position: relative;
}

.imgcont{
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
  border-radius: 10px;
}

@keyframes b1-photo-ver-anim {
  0%{
    height: 10px;
  }
  50%{
    height: 104%;
  }
  100%{
    height: 10px;
  }
}

@keyframes b1-photo-hor-anim {
  0%{
    width: 10px;
  }
  50%{
    width: 102%;
  }
  100%{
    width: 10px;
  }
}

.block1__left:before{
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: rgb(222, 47, 104);
  top: 104%;
  left: 100%;
  transform: rotate(180deg);
  transform-origin: top;
  border-radius: 4px;
  animation-name: b1-photo-ver-anim;
  animation-iteration-count: infinite;
  animation-duration: 7s;
  animation-delay: 1.2s;
  opacity: 30%;
}

.block1__left:after{
  content: '';
  position: absolute;
  height: 10px;
  width: 10px;
  background-color: rgb(222, 47, 104);
  top: 100%;
  left: 102.5%;
  transform: rotate(180deg);
  transform-origin: left;
  border-radius: 4px;
  animation-name: b1-photo-hor-anim;
  animation-iteration-count: infinite;
  animation-duration: 7s;
  animation-delay: 1.2s;
  opacity: 30%;
}

.block1__img {
  width: 100%;
  border-radius: 10px;
}

.block1__right {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 50%;
  position: relative;
  padding: 15px;
}

.block1__text2 {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 30px;
}

.block1__paragraph {
  /* margin: 10px; */
  font-size: 20px;
}

@media(max-width: 1200px){
  .block1 {
    margin: 100px 0 0 0;
    height: auto;
  }
  .block1__container {
    height: auto;
    width: 80%;
  }
  .block1__container:after{
    left: 101%;
  }
  .block1__container2:after{
    top: 101.7%;
  }
  .block1__body {
    flex-direction: column;
    align-items: center;
  }
  .block1__left {
    width: 70%;
  }
  @keyframes b1-photo-ver-anim {
    0%{
      height: 10px;
    }
    50%{
      height: 103%;
    }
    100%{
      height: 10px;
    }
  }
  .block1__left:before{
    top: 103%;
  }
  .block1__left:after{
    left: 102%;
  }
  .block1__right{
    min-width: 70%;
    padding: 0;
  }
}

@media(max-width: 769px){
  .block1__container:after{
    left: 102%;
  }
  .block1__left {
    width: 56vw;
  }
  .block1__left:before{
    top: 104%;
  }
  .block1__right{
    min-width: 90%;
  }
}

@media(max-width: 600px){
  .block1__left:before{
    top: 105%;
  }
  .block1__left:after{
    left: 103%;
  }
}

@media(max-width: 426px){
  .title{
    font-size: 25px;
  }
  .block1__container:after{
    left: 103%;
  }
  .block1__body{
    gap: 30px;
  }
  .block1__left {
    width: 60vw;
  }
  @keyframes b1-photo-ver-anim {
    0%{
      height: 10px;
    }
    50%{
      height: 107%;
    }
    100%{
      height: 10px;
    }
  }
  @keyframes b1-photo-hor-anim {
    0%{
      width: 10px;
    }
    50%{
      width: 104%;
    }
    100%{
      width: 10px;
    }
  }
  .block1__left:before{
    top: 107%;
  }
  .block1__left:after{
    left: 104%;
  }
  .block1__paragraph{
    font-size: 16px;
    line-height: 20px;
  }
  .block1__right{
    /* min-width: 100%; */
  }
}

/* ---block2------------------------------------------------------- */

.block2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  margin: 70px 0 0 0;
  padding: 0 30px;
  /* border: 1px solid red; */
}

.block2__container {
  /* border: 1px solid rgb(0, 229, 255); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
  width: 90%;
  height: 100%;
}

.block2__text {
}

.block2__title {
}

.block2__body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
  padding: 20px 0;
}

.block2__card1 {
}

.b2-card1 {
}

.b2-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 215px;
}

.b2-card1__photo{
}

.b2-photo{
  margin: 0 0 30px 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.b2-photo img{
  border-radius: 10px;
  width: 170px;
}

@keyframes b2-photo-ver-anim {
  0%{
    height: 10px;
  }
  50%{
    height: 104%;
  }
  100%{
    height: 10px;
  }
}

@keyframes b2-photo-hor-anim {
  0%{
    width: 10px;
  }
  50%{
    width: 105%;
  }
  100%{
    width: 10px;
  }
}

.b2-photo:before{
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: rgb(222, 47, 104);
  top: 104%;
  left: 100%;
  transform: rotate(180deg);
  transform-origin: top;
  border-radius: 4px;
  animation-name: b2-photo-ver-anim;
  animation-iteration-count: infinite;
  animation-duration: 7s;
  animation-delay: 1.2s;
  opacity: 30%;
}

.b2-photo:after{
  content: '';
  position: absolute;
  height: 10px;
  width: 10px;
  background-color: rgb(222, 47, 104);
  top: 100%;
  left: 105%;
  transform: rotate(180deg);
  transform-origin: left;
  border-radius: 4px;
  animation-name: b2-photo-hor-anim;
  animation-iteration-count: infinite;
  animation-duration: 7s;
  animation-delay: 1.2s;
  opacity: 30%;
}

.b2-card1__name {
}

.b2-name {
  font-size: 25px;
  text-shadow: 0 0 5px rgba(255, 144, 220, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.block2__card2 {
}
.b2-card2 {
}
.b2-card2__photo {
}
.b2-card2__name {
}
.b2-block2__card3 {
}
.b2-card3 {
}
.b2-card3__photo {
}
.b2-card3__name {
}
.b2-block2__card4 {
}
.b2-card4 {
}
.b2-card4__photo {
}
.b2-card4__name {
}
.b2-block2__card5 {
}
.b2-card5 {
}
.b2-card5__photo {
}
.b2-card5__name {
}
.b2-block2__card6 {
}
.b2-card6 {
}
.b2-card6__photo {
}
.b2-card6__name {
}
.b2-block2__card7 {
}
.b2-card7 {
}
.b2-card7__photo {
}
.b2-card7__name {
}

@media(max-width: 769px){
  .block2__body {
    gap: 50px;
    padding: 20px;
  }
}

@media(max-width: 426px){
  .b2-card {
    min-width: auto;
  }
  .b2-photo img{
    width: 120px;
  }
  .b2-name{
    font-size: 20px;
  }
  @keyframes b2-photo-ver-anim {
    0%{
      height: 10px;
    }
    50%{
      height: 105.5%;
    }
    100%{
      height: 10px;
    }
  }
  @keyframes b2-photo-hor-anim {
    0%{
      width: 10px;
    }
    50%{
      width: 108%;
    }
    100%{
      width: 10px;
    }
  }
  .b2-photo:before{
    top: 106%;
  }
  .b2-photo:after{
    left: 108%;
  }
}

/* ---block3------------------------------------------------------- */

.block3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  margin: 70px 0 0 0;
  padding: 0 30px;
  /* border: 1px solid red; */
}
.block3__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
  width: 90%;
  height: 100%;
  /* border: 1px solid green; */
}

.block3__text {
}
.text {
}
.block3__title {
}

.block3__body {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  flex-wrap: wrap;
  padding: 20px 0;
}

.block3__card1 {
}
.b3-card1 {
}

.b3-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 230px;
  min-height: 350px;
}

.b3-photo {
  box-shadow: 0 0 35px rgb(222, 47, 104);
  /* outline: 4px solid rgb(222, 47, 104,0.5); */
  outline: 4px solid rgb(0,0,0);
  margin: 0 0 35px 0;
  border-radius: 10px;
  position: relative; 
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.3s;
  width: 200px;
}

.b3-photo:hover{
  transform: scale(1.02);
  transition-duration: 0.3s;
}

.b3-photo img{
  width: 100%;
  border-radius: 10px;
}

@keyframes b3-photo-ver-anim {
  0%{
    height: 10px;
  }
  50%{
    height: 106%;
  }
  100%{
    height: 10px;
  }
}

@keyframes b3-photo-hor-anim {
  0%{
    width: 10px;
  }
  50%{
    width: 108%;
  }
  100%{
    width: 10px;
  }
}

.b3-photo:before{
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: rgb(222, 47, 104);
  top: 105%;
  left: 102%;
  transform: rotate(180deg);
  transform-origin: top;
  border-radius: 4px;
  animation-name: b3-photo-ver-anim;
  animation-iteration-count: infinite;
  animation-duration: 7s;
  animation-delay: 1.2s;
  opacity: 30%;
}

.b3-photo:after{
  content: '';
  position: absolute;
  height: 10px;
  width: 10px;
  background-color: rgb(222, 47, 104);
  top: 101.5%;
  left: 107%;
  transform: rotate(180deg);
  transform-origin: left;
  border-radius: 4px;
  animation-name: b3-photo-hor-anim;
  animation-iteration-count: infinite;
  animation-duration: 7s;
  animation-delay: 1.2s;
  opacity: 30%;
}

.b3-card1__name {
}

.b3-name {
  font-size: 25px;
  text-shadow: 0 0 5px rgba(255, 144, 220, 0.7);
}

.b3-link{
  color: #000;
  position: relative;
  padding: 5px 7px;
}

.b3-link:before, .b3-link:after{
  content: '';
  position: absolute;
  transition: transform .5s ease;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-style: solid;
  border-color: rgb(255, 144, 220);
  border-radius: 5px;
}

.b3-link:before{
  border-width: 2px 0 2px 0;
  transform:  scaleX(0);
}

.b3-link:after{
  border-width: 0 2px 0 2px;
  transform:  scaleY(0);
}

.b3-link:hover:before, .b3-link:hover:after{
  transform:  scale(1, 1);
}

.block3__card2 {
}
.b3-card2 {
}
.b3-card2__photo {
}
.b3-card2__name {
}
.block3__card3 {
}
.b3-card3 {
}
.b3-card3__photo {
}
.b3-card3__name {
}
.b3-card4__name {
}

@media(min-height: 1024px){
  .block3 {
    min-height: auto;
  }
}

@media(max-width: 1430px){
  .block3__body {
    padding: 20px 130px;
    column-gap: 140px;
  }
}

@media(max-width: 1070px){
  .block3__body {
    padding: 20px 0;
  }
}

@media(max-width: 769px){
  .block3__body {
    gap: 50px;
    padding: 20px;
  }
}

@media(max-width: 426px){
  .b3-card {
    min-height: 280px;
  }
  .b3-photo {
    width: 150px;
    margin: 0 0 30px 0;
  }
  @keyframes b3-photo-ver-anim {
    0%{
      height: 10px;
    }
    50%{
      height: 108%;
    }
    100%{
      height: 10px;
    }
  }
  @keyframes b3-photo-hor-anim {
    0%{
      width: 10px;
    }
    50%{
      width: 111%;
    }
    100%{
      width: 10px;
    }
  }
  .b3-photo:before{
    top: 106.8%;
    left: 103.3%;
  }
  .b3-photo:after{
    top: 102.3%;
    left: 110%;
  }
  .b3-name {
    font-size: 20px;
  }
}

/* ---block4------------------------------------------------------- */

.block4 {
}
.block4__container {
}
.block4__text {
}
.block4__title {
}
.block4__video {
}
.block4__opening {
}
.footer {
}
.footer__container {
}
.footer__text {
} 